In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('quran.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head(7)

   surah  ayeh                                               text
0      1     1              بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ
1      1     2              الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
2      1     3                             الرَّحْمَنِ الرَّحِيمِ
3      1     4                            مَالِكِ يَوْمِ الدِّينِ
4      1     5           إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
5      1     6                 اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ
6      1     7  صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ...

In [3]:
head = data.head(7)
search = data[data.apply(lambda row: row.astype(str).str.contains('اللَّه').any(), axis=1)]
len(search)

1841

# Add classify to csv

In [18]:
a = pd.read_csv('quran_classify.csv')
a.drop('Unnamed: 0', axis=1, inplace=True)
a

      surah  ayeh                                      text  classify
0         1     1     بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ      good
1         1     2     الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ      good
2         1     3                    الرَّحْمَنِ الرَّحِيمِ      good
3         1     4                   مَالِكِ يَوْمِ الدِّينِ       NaN
4         1     5  إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ       NaN
...     ...   ...                                       ...       ...
6231    114     2                           مَلِكِ النَّاسِ       NaN
6232    114     3                           إِلَهِ النَّاسِ       NaN
6233    114     4        مِن شَرِّ الْوَسْوَاسِ الْخَنَّاسِ       NaN
6234    114     5   الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ       NaN
6235    114     6                مِنَ الْجِنَّةِ وَالنَّاسِ       NaN

[6236 rows x 4 columns]

In [45]:
classify_defined = a.dropna(axis=0)
classify_defined

   surah  ayeh                                   text  classify
0      1     1  بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ      good
1      1     2  الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ      good
2      1     3                 الرَّحْمَنِ الرَّحِيمِ      good